# default
pyyaml==6.0
requests==2.26.0

# Need python 32-bit and administrator
PyQt5==5.15.6

# visualization
ipython==7.29.0
jupyter==1.0.0
notebook==6.4.5
pywinpty<1,>=0.5

# sqlalchemy
sqlalchemy==1.4.26

